name: "Project's all the Workflows"

on:
  workflow_dispatch:
    # gives option to run this workflow manually from GitHub Actions UI
  push:
    branches: [master]

# a workflow run comprises of multiple or single job that can run sequentially on in parallel
jobs:
  test_project:
    uses: ./.github/workflows/test_project.yml
    secrets:
      POSTGRES_DB_USER : ${{ secrets.POSTGRES_DB_ROOT_USER }}
      POSTGRES_DB_USER_PASSWORD: ${{ secrets.POSTGRES_DB_ROOT_USER_PASSWORD }}
      POSTGRESQL_DB_HOST: ${{ secrets.POSTGRESQL_DB_HOST }}
      POSTGRESQL_DB_NAME: ${{ secrets.POSTGRESQL_DB_NAME }}
      POSTGRES_DB_PORT: ${{ secrets.POSTGRES_DB_PORT }}  
      DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
      DATABASE_BACKEND: ${{ secrets.DATABASE_BACKEND }}
  build_project:
    uses: ./.github/workflows/container.yml
    needs: test_project
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
      DOCKERHUB_APP_NAME: ${{ secrets.DOCKERHUB_APP_NAME }}
