name: 3 - Build App Container Image

on:
  workflow_call:

  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Container Image
        run: docker build -f Dockerfile -t deploying-django-adventure:v1 . --compress
      - name: Login to Docker Hub
        run: |
          echo "Need to login to Docker Hub"
      - name: Push Docker Image
        run: |
          echo "Push the Docker Image to Docker Hub"
